.logo {
  width: 50px;
  height: auto;
}

.home-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.card-body-header {
  margin-bottom: 20px;
}

.card-body-footer {
  margin-top: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded-circle {
  border-radius: 50%;
}

